<!DOCTYPE html>
<html>

<head>
  <title>Eventos</title>
</head>

<body>

        <ul class="right hide-on-med-and-down">
          <li class="active">
            <a href="index.html">Dashboard</a>
          </li>
          <li>
            <a href="posts.html">Posts</a>
          </li>
          <li>
            <a href="categories.html">Categories</a>
          </li>
          <li>
            <a href="comments.html">Comments</a>
          </li>
          <li>
            <a href="users.html">Users</a>
          </li>
        </ul>

          <h5>Hoje é 31 de julho de 2019</h5>
         
</body>

</html>